workers_dev = true

name = "fed"
main = ".svelte-kit/cloudflare/_worker.js"

compatibility_date = "2025-12-01"
compatibility_flags = ["nodejs_compat"]

assets = { binding = "ASSETS", directory = ".cloudflare/public" }

kv_namespaces = [
  { binding = "KV", id = "d81bcac66d554d3a9493bad219cd0016", preview_id = "0e65b42e98f74359af36105c7a5e8fd2" },
]

[triggers]
crons = [
  # 1. 周一至周四 (UTC)：全天每 5 分钟
  "*/5 * * * MON-THU",

  # 2. 周五 (UTC)：00:00 到 21:55 每 5 分钟 (对应美东周五下午收盘前)
  "*/5 0-21 * * FRI",

  # 3. 周日 (UTC)：22:00 到 23:55 每 5 分钟 (对应美东周日傍晚开盘后)
  "*/5 22-23 * * SUN",

  # 4. 兜底策略：每 6 小时执行一次 (涵盖所有非活跃时段)
  "0 */6 * * *",
]


[observability]
enabled = true
