@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "zk-light";

  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: oklch(96% 0.001 106.423);
  --color-base-200: oklch(93% 0.001 106.424);
  --color-base-300: oklch(90% 0.001 106.424);
  --color-base-content: oklch(24% 0.006 56.043);

  --color-primary: oklch(60.94% 0.1302 57.35);
  --color-primary-content: oklch(96% 0.001 106.423);
  --color-secondary: oklch(50.94% 0.1302 57.35);
  --color-secondary-content: oklch(96% 0.001 106.423);
  --color-accent: oklch(70.94% 0.1302 57.35);
  --color-accent-content: oklch(96% 0.001 106.423);
  --color-neutral: oklch(24% 0.006 56.043);
  --color-neutral-content: oklch(96% 0.001 106.423);

  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(27% 0.006 56.043);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(27% 0.006 56.043);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(27% 0.006 56.043);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.006 56.043);

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "zk-dark";

  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: oklch(26% 0.001 106.423);
  --color-base-200: oklch(29% 0.001 106.423);
  --color-base-300: oklch(32% 0.001 106.423);
  --color-base-content: oklch(94% 0.006 56.043);

  --color-primary: oklch(60.94% 0.1302 57.35);
  --color-primary-content: oklch(94% 0.006 56.043);
  --color-secondary: oklch(50.94% 0.1302 57.35);
  --color-secondary-content: oklch(94% 0.006 56.043);
  --color-accent: oklch(70.94% 0.1302 57.35);
  --color-accent-content: oklch(94% 0.006 56.043);
  --color-neutral: oklch(24% 0.006 56.043);
  --color-neutral-content: oklch(94% 0.006 56.043);

  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(29% 0.006 56.043);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(29% 0.006 56.043);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(29% 0.006 56.043);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(29% 0.006 56.043);

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 0;
  --noise: 0;
}

.inline-text-link {
  @apply underline underline-offset-2 hover:text-base-content decoration-base-content/25 hover:decoration-base-content/50 transition-colors;
}

.inline-img-link {
  @apply hover:text-base-content transition-colors;
}
